Source: jitsi-videobridge
Section: net
Priority: extra
Maintainer: Jitsi Team <dev@jitsi.org>
Uploaders: Emil Ivov <emcho@jitsi.org>, Damian Minkov <damencho@jitsi.org>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.3
Homepage: https://jitsi.org/videobridge

Package: jitsi-videobridge
Architecture: any
Pre-Depends: openjdk-8-jre-headless | openjdk-11-jre-headless
Depends: ${misc:Depends}, procps, uuid-runtime
Description: WebRTC compatible Selective Forwarding Unit (SFU)
 Jitsi Videobridge is a WebRTC compatible Selective Forwarding Unit
 (SFU) for multiuser video communication. It is an essential part
 of Jitsi Meet
