<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>http://jitsi.org</author>
    <class>org.jitsi.videobridge.openfire.PluginImpl</class>
    <description>Integrates Jitsi Video Bridge into Openfire.</description>
    <licenseType>other</licenseType>
    <minServerVersion>3.0.0</minServerVersion>
    <name>Jitsi Video Bridge</name>
    <version>2.0</version>
    <date>10/17/2016</date>

   <adminconsole>
        <tab id="tab-server">
            <sidebar id="siderbar-jvb"
                     name="${plugin.title}">
                <item id="jitsi-videobridge-settings"
                      name="${plugin.title}"
                      description="${plugin.title.description}"
                      url="jitsi-videobridge.jsp"/>
            </sidebar>
        </tab>
    </adminconsole> 

</plugin>
