<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>http://jitsi.org</author>
    <class>org.jitsi.videobridge.openfire.PluginImpl</class>
    <description>Integrates Jitsi Video Bridge into Openfire.</description>
    <licenseType>other</licenseType>
    <minServerVersion>3.0.0</minServerVersion>
    <name>Jitsi Video Bridge Openfire Plugin</name>
    <version>1.0</version>
</plugin>
