Source: jitsi-videobridge2
Section: net
Priority: extra
Maintainer: Jitsi Team <dev@jitsi.org>
Uploaders: Emil Ivov <emcho@jitsi.org>, Damian Minkov <damencho@jitsi.org>
Build-Depends: debhelper (>= 9), dh-systemd, java8-runtime-headless | java8-runtime | java11-runtime-headless | java11-runtime, maven
Standards-Version: 3.9.3
Homepage: https://jitsi.org/videobridge

Package: jitsi-videobridge2
Replaces: jitsi-videobridge
Conflicts: jitsi-videobridge (<= 1400-1)
Architecture: all
Pre-Depends: java8-runtime-headless | java8-runtime | java11-runtime-headless | java11-runtime
Depends: ${misc:Depends}, procps, uuid-runtime
Description: WebRTC compatible Selective Forwarding Unit (SFU)
 Jitsi Videobridge is a WebRTC compatible Selective Forwarding Unit
 (SFU) for multiuser video communication. It is an essential part
 of Jitsi Meet
