Source: jitsi-videobridge2
Section: net
Priority: extra
Maintainer: Jitsi Team <dev@jitsi.org>
Uploaders: Emil Ivov <emcho@jitsi.org>, Damian Minkov <damencho@jitsi.org>
Build-Depends: debhelper (>= 9), dh-systemd, openjdk-11-jdk | openjdk-17-jdk, maven
Standards-Version: 3.9.3
Homepage: https://jitsi.org/videobridge

Package: jitsi-videobridge2
Replaces: jitsi-videobridge
Conflicts: jitsi-videobridge (<= 1400-1)
Architecture: all
Pre-Depends: openjdk-11-jre-headless | openjdk-11-jre | openjdk-17-jre-headless | openjdk-17-jre, libssl3 | libssl1.1
Depends: ${misc:Depends}, procps, uuid-runtime, ruby-hocon
Recommends: libpcap0.8
Description: WebRTC compatible Selective Forwarding Unit (SFU)
 Jitsi Videobridge is a WebRTC compatible Selective Forwarding Unit
 (SFU) for multiuser video communication. It is an essential part
 of Jitsi Meet
