#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DEB_VERBOSE_ALL=true

%:
	dh $@

override_dh_auto_clean:
	mvn -Dmaven.repo.local=${HOME}/.m2/repository clean

override_dh_auto_configure:
	# do nothing

override_dh_auto_test:
	# do nothing

override_dh_auto_build:
	mvn -Dmaven.repo.local=${HOME}/.m2/repository -DskipTests -Dassembly.skipAssembly=true install
	mvn -Dmaven.repo.local=${HOME}/.m2/repository dependency:copy-dependencies -DincludeScope=runtime

override_dh_install:
	mkdir debian/tmp
	cp config/logrotate debian/tmp/jitsi-videobridge
	cp jvb/target/jitsi-videobridge*.jar debian/tmp/jitsi-videobridge.jar
	dh_install

override_dh_installinit:
	dh_installinit --noscripts

override_dh_auto_install:
	dh_auto_install
	dh_installsystemd --restart-after-upgrade
