<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
		<Property name="log-path">logs</Property>
	</Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${log-path}/cs.log"
                 filePattern="${log-path}/$${date:yyyy-MM}/cs-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
      		<Policies>
        		<TimeBasedTriggeringPolicy />
        		<SizeBasedTriggeringPolicy size="250 MB"/>
      		</Policies>
    	</RollingFile>
    	<!-- 
    	<Console name="STDOUT" target="SYSTEM_OUT">
      		<PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
    	</Console>
    	 -->
    </Appenders>
    <Loggers>
    	<!--<Logger name="org.apache.log4j.xml" level="debug"/>-->
    	<Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
           <!--  <AppenderRef ref="STDOUT"/>  -->
        </Root>
    </Loggers>
</Configuration>

<!-- 
-Dlog4j.configurationFile=config/log4j2.xml has to be used in VM args
 -->