# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Java version to use for the release
  RELEASE_JAVA_VERSION: 11

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 11, 17, 21 ]

    name: Java ${{ matrix.java }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: maven

    - name: Build with Maven
      run: ./resources/build.sh -Pcoverage -B

    - name: Upload coverage report
      if: matrix.java == env.RELEASE_JAVA_VERSION
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
